# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python version
.python-version